import 'package:flutter/material.dart';
@{import}
@{import_path}

/// @{name_pascal}Page
class @{name_pascal}Page extends GetView<@{name_pascal}Controller> {
  // ignore: public_member_api_docs
  const @{name_pascal}Page({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      appBar: AppBar(
        title: const Text('@{name_pascal}Page'),
        centerTitle: true,
      ),
      body:const Center(
        child: Text(
          '@{name_pascal}Page is working',
          style: TextStyle(fontSize:20),
        ),
      ),
    );
  }
}